/*!------------------------------------------------------------------
[VARIABLES STYLESHEET]
PROJECT:	Ici c'est
VERSION:	0.0.1
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/

// Fonts
$font-family: 'Fira Sans', sans-serif;
$line-height: 1.2;
$main-font-size: 1rem;
$secondary-font-size: .75rem;
$align-content: left;

// Colors
$white: #FFF !default;
$black: #000 !default;
$grey: #969696 !default;

$main-primary-color: #DB0613 !default;
$main-primary-color-opacity: rgba($main-primary-color, .2);
$main-secondary-color: #FF9900 !default;
$main-secondary-color-opacity: rgba($main-secondary-color, .2);
$main-tertiary-color: #2E83DD !default;
$main-tertiary-color-opacity: rgba($main-tertiary-color, .2);
$main-quaternary-color: #18CCC9 !default;
$main-quaternary-color-opacity: rgba($main-quaternary-color, .2);
$text-primary-color: #000 !default;
$bg-header-color: $white;
$bg-header-article-color: transparent;
$header-article-border-color: #f2f2f2;
$header-article-border-width: 1px;

$bg-html: #504443;
$bg-content-color: #F2F2F2;
$bg-footer-color: #fff;

// margin, padding, radius
$margin: .5em;
$margin-vertical: .5em;
$margin-horizontal: 1em;

$body-margin-block: $margin;

$padding: .5em;
$padding-vertical: .5em;
$padding-horizontal: 1em;
$radius: .725em;

$pre-title-color: $black;
$pre-title-font-size: $secondary-font-size;

/* boutons */
$btn-align: $align-content;
$btn-bg-color: white;
$btn-tonal-color: white;
$btn-border-radius: $radius;
$bt-transform: capitalize;
$bt-font-size: $secondary-font-size;
$grid-gap: $margin-horizontal;
$min-height-tonal: 6em;

/* menu icon */
$menu-icon-color: $main-primary-color;
$menu-icon-active-color: $white;
$menu-icon-height: 2px;
$menu-icon-width:  1.5em;
$menu-icon-margin: .5em;
$bg-content-menu-color: $main-primary-color;
$text-content-menu-color: $white;
$menu-oppacity-start: 0;
$menu-oppacity-end: 1;
$menu-left-start: 100%;
$menu-left-end: 0;
$menu-padding-top: 6em;
$menu-padding-left: 4em;
$menu-link-transform: uppercase;
$menu-gap: 0.5em;

/* carousel */
// Variables pour Carousel

// Espacement et dimension
$carousel-padding-top: 75%; // Ajuster selon besoin
$carousel-nav-button-size: 1.5rem; // Taille des boutons de navigation
$carousel-nav-arrow-size: 4rem; // Taille des flèches de navigation
$carousel-nav-arrow-icon-size: 1.5rem; // Taille des icônes dans les flèches
$carousel-nav-arrow-margin-top: 37.5%; // Marge supérieure des flèches
$carousel-nav-arrow-font-size: 2.5rem; // Taille de la police des flèches
$carousel-nav-arrow-line-height: 4rem; // Hauteur de ligne des flèches
$carousel-font-size: 2em; // Taille de police à l'intérieur des diapositives

// Couleurs
$carousel-shadow-color: #00000033; // Couleur de l'ombre (exemple: noir transparent)
$carousel-shadow-size: 10px; // Taille de l'ombre
$carousel-slide-bg: #f99; // Couleur de fond par défaut des diapositives
$carousel-slide-bg-alt: #99f; // Couleur de fond alternative des diapositives
$carousel-text-color: #ffffff; // Couleur du texte
$carousel-nav-button-bg: $white; // Couleur de fond des boutons de navigation
$carousel-nav-button-border: 2px solid $main-primary-color; // Bordure des boutons de navigation
$carousel-nav-arrow-bg: transparent; // Couleur de fond des flèches
$carousel-nav-arrow-color: #ffffff; // Couleur des flèches
$carousel-arrow-fill: #ffffff; // Couleur de remplissage des flèches (SVG)



/* language */
$language-bg-bt-color: white;
$language-bg-bt-color-active: $main-primary-color;
$language-bg-bt-color-opacity: rgba($language-bg-bt-color-active, .2);
$language-bt-color: $main-primary-color;
$language-bt-color-active: white;
$language-bt-padding: .3em;
$language-bt-radius: 50%;
$language-btn-border-width: 1px;
$language-btn-border-color: $main-primary-color;
$language-margin: $margin;
$language-bt-transform: $bt-transform;
$language-bt-font-size: $secondary-font-size;

$btn-bg-color-actif: $main-primary-color;
$btn-border-color: $grey;
/* boutons hover */
$btn-bg-color-hover: $main-primary-color-opacity;

$btn-border-color-hover: $main-primary-color-opacity;

/* footer */
$footer-font-size: .75rem;