@charset "UTF-8";
/*!------------------------------------------------------------------
[MAIN STYLESHEET]
PROJECT:	Ici c'est
VERSION:	0.0.1
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/
/*!------------------------------------------------------------------
[VARIABLES STYLESHEET]
PROJECT:	Ici c'est
VERSION:	0.0.1
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/
/* boutons */
/* menu icon */
/* carousel */
/* language */
/* boutons hover */
/* footer */
/*!------------------------------------------------------------------
[TYPOGRAPHIE STYLESHEET]
PROJECT:	Ici c'est
VERSION:	0.0.1
-------------------------------------------------------------------*/
/************************************** typographie **************************************/
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,300italic,400italic,500,500italic,700,700italic);
p {
  margin-top: 0;
  margin-bottom: 1rem; }

/************************************** titre **************************************/
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit; }

.h1,
h1 {
  font-size: 2.5rem;
  text-align: left;
  color: #000;
  font-weight: bold;
  margin-top: 0.2em; }

.h2,
h2 {
  font-size: 1.5rem;
  font-weight: 400; }

.h3,
h3 {
  font-size: 1.25rem;
  font-weight: bold; }

.h4,
h4 {
  font-size: 1rem;
  font-weight: bold; }

.h5,
h5 {
  font-size: 1rem;
  font-weight: 400; }

.h6,
h6 {
  font-size: 1rem;
  font-weight: 300; }

.text--white {
  color: white; }

html {
  background: #fff;
  color: #000;
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  overflow-y: scroll; }

@media screen and (min-width: 625px) {
  html {
    background: #504443; } }

body {
  margin: 0.5em auto;
  max-width: 70ch;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - (0.5em * 2));
  border-radius: 20px;
  position: relative;
  background: #F2F2F2; }

header,
.header {
  font-size: 1.5em;
  color: #DB0613;
  background-color: transparent;
  font-weight: normal; }

main {
  flex: 1 1 auto;
  background-color: #F2F2F2; }

article header {
  background-color: #F2F2F2;
  color: #000;
  overflow: hidden;
  position: relative;
  border-top: solid;
  border-top-width: 1px;
  border-top-color: #f2f2f2;
  margin-bottom: 0.5em; }

article {
  background: white; }

footer,
.footer {
  font-size: 0.75rem;
  background: #fff0;
  padding: 0.6em 2em; }

iframe {
  max-width: 100%; }

figure {
  margin: 2rem 0; }

img {
  display: block;
  margin: auto;
  max-width: 100%; }

ul {
  padding-left: 1rem; }

.row {
  display: flex;
  flex-direction: row;
  align-items: center; }

.col {
  width: 100%; }

.d-flex {
  display: flex; }

.d-block {
  display: block; }

.align-items-center {
  align-items: center; }

.justify-content-center {
  justify-content: center; }

.justify-content-end {
  justify-content: end; }

.link {
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-in-out; }
  .link:hover {
    color: #91040d; }

/*!------------------------------------------------------------------
[BUTTONS STYLESHEET]
PROJECT:	Ici c'est
VERSION:	0.0.1
-------------------------------------------------------------------*/
/************************************** Boutons **************************************/
.btn {
  --bs-btn-padding-x: 3em;
  --bs-btn-padding-y: 0.5em;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: #212529;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0.725em;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem
    rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: 400;
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: left;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color); }

.btn-outline-primary {
  --bs-btn-color: #DB0613;
  --bs-btn-border-color: #969696;
  --bs-btn-hover-color: #DB0613;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #DB0613;
  --bs-btn-focus-shadow-rgb: 108, 117, 125;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #DB0613;
  --bs-btn-active-border-color: #DB0613;
  --bs-btn-disabled-color: #DB0613;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #DB0613;
  --bs-gradient: none;
  --bs-btn-bg: white; }

.list-link {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0, 1fr));
  grid-row: inherit;
  gap: 1em; }
  .list-link .btn-tonal {
    --bs-btn-color: white;
    border: var(--bs-btn-border-width) solid;
    border-radius: var(--bs-btn-border-radius);
    padding: 0.5em 1em;
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    line-height: var(--bs-btn-line-height);
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    background-color: var(--bs-btn-bg);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .list-link .btn-tonal:nth-of-type(4n+1), .list-link .btn-tonal:nth-of-type(4n+4) {
      grid-column: span 1;
      min-height: 6em; }
    .list-link .btn-tonal:nth-of-type(4n+2), .list-link .btn-tonal:nth-of-type(4n+3) {
      grid-column: span 2;
      min-height: 6em; }
    .list-link .btn-tonal:nth-of-type(1), .list-link .btn-tonal:nth-of-type(3n+1) {
      background-color: #FF9900;
      border-color: #FF9900; }
      .list-link .btn-tonal:nth-of-type(1):hover, .list-link .btn-tonal:nth-of-type(3n+1):hover {
        background-color: #b36b00;
        border-color: #b36b00; }
    .list-link .btn-tonal:nth-of-type(2), .list-link .btn-tonal:nth-of-type(3n+2) {
      background-color: #2E83DD;
      border-color: #2E83DD; }
      .list-link .btn-tonal:nth-of-type(2):hover, .list-link .btn-tonal:nth-of-type(3n+2):hover {
        background-color: #1b5da4;
        border-color: #1b5da4; }
    .list-link .btn-tonal:nth-of-type(3), .list-link .btn-tonal:nth-of-type(3n+3) {
      background-color: #18CCC9;
      border-color: #18CCC9; }
      .list-link .btn-tonal:nth-of-type(3):hover, .list-link .btn-tonal:nth-of-type(3n+3):hover {
        background-color: #108886;
        border-color: #108886; }

@keyframes glowing {
  0% {
    background-color: #DB0613; }
  50% {
    background-color: #ea351f; }
  100% {
    background-color: #DB0613; } }

.btn-alert {
  animation: glowing 1300ms infinite;
  --bs-btn-color: white;
  --bs-btn-hover-color: white;
  --bs-btn-border-color: #DB0613;
  --bs-btn-hover-border-color: #DB0613; }
  .btn-alert:hover {
    animation-play-state: paused; }

/*!------------------------------------------------------------------
[HEADER STYLESHEET]
PROJECT:	Ici c'est
VERSION:	0.0.1
-------------------------------------------------------------------*/
/************************************** header **************************************/
.pre-title {
  color: #000;
  font-size: 0.75rem;
  font-weight: bold;
  text-decoration: none; }

.header .logo {
  width: 200px;
  height: auto;
  margin-left: 0; }
  @media (max-width: 768px) {
    .header .logo {
      width: 150px; } }

#navBtn ~ .header span,
#navBtn ~ .header span:before,
#navBtn ~ .header span:after {
  border-radius: 0.725em;
  background-color: #DB0613;
  transition: all 0.3s ease-out; }

#navBtn:checked ~ .header span,
#navBtn:checked ~ .header span:before,
#navBtn:checked ~ .header span:after {
  background-color: #FFF; }

#navBtn:checked ~ .header span {
  background-color: transparent; }

#navBtn:checked ~ .header span:before {
  transform: translateY(0) rotate(-45deg);
  top: 0; }

#navBtn:checked ~ .header span:after {
  transform: translateY(0) rotate(45deg);
  top: 0; }

.header .icon {
  cursor: pointer;
  display: block;
  height: 4rem;
  width: 4rem;
  position: relative;
  z-index: 9991; }
  .header .icon span {
    height: 2px;
    width: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%); }
  .header .icon span:before,
  .header .icon span:after {
    content: '';
    height: 2px;
    width: 100%;
    position: absolute; }
  .header .icon span:before {
    top: -0.5em; }
  .header .icon span:after {
    top: 0.5em; }

/*!------------------------------------------------------------------
[LANGUAGE-SELECTOR STYLESHEET]
PROJECT:	Ici c'est
VERSION:	0.0.1
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/
.language-selector .main .lang {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
  font-weight: bold;
  justify-content: end;
  gap: 0.5em; }
  .language-selector .main .lang .lang-item {
    list-style-type: none;
    margin: 0;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-width: 1px;
    border-color: #DB0613; }
    .language-selector .main .lang .lang-item .lang-item-text {
      color: #DB0613;
      text-transform: capitalize; }
    .language-selector .main .lang .lang-item.active {
      background-color: #DB0613;
      border-color: #DB0613; }
      .language-selector .main .lang .lang-item.active .lang-item-text {
        color: white; }
    .language-selector .main .lang .lang-item:hover {
      background-color: rgba(219, 6, 19, 0.2); }
      .language-selector .main .lang .lang-item:hover .lang-item-text {
        color: #DB0613; }

.language-selector a {
  text-decoration: none; }

.title {
  padding: 0.5em 1.5em; }

.content {
  background-color: #F2F2F2;
  padding: 3em 1.5em; }

.content.alert {
  padding-bottom: 0; }

.content.alert + .content {
  padding-top: 1em; }

.chapeau {
  font-weight: bold; }

.list-link {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.pr-1 {
  padding-right: .5em; }

#navBtn {
  display: none; }

#navBtn:checked ~ .menu-navigation .nav {
  z-index: 9990;
  opacity: 1;
  left: 0; }

.menu-navigation .nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 100%;
  background: #DB0613;
  opacity: 0;
  transition: all 0.3s ease;
  padding-top: 6em;
  border-radius: 20px; }
  .menu-navigation .nav ul {
    position: absolute;
    padding-left: 4em; }
    .menu-navigation .nav ul li a {
      color: #FFF;
      text-decoration: none;
      font-size: 0.75rem;
      font-weight: bold;
      text-transform: uppercase;
      padding: 0.5em;
      display: flex;
      gap: 0.5em;
      align-items: center;
      transition: all 0.3s ease; }
      .menu-navigation .nav ul li a:hover {
        color: #d9d9d9; }
      .menu-navigation .nav ul li a .fa {
        margin-right: 0.5em;
        font-size: 1.4em; }

.menu-navigation ol,
.menu-navigation ul {
  list-style: none; }

/*!------------------------------------------------------------------
[VARIABLES STYLESHEET]
PROJECT:	Ici c'est
VERSION:	0.0.1
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/
/* boutons */
/* menu icon */
/* carousel */
/* language */
/* boutons hover */
/* footer */
@keyframes tonext {
  75%,
  95%,
  98% {
    left: 0; }
  99% {
    left: 100%; } }

@keyframes tostart {
  75%,
  95%,
  98% {
    left: 0; }
  99% {
    left: -300%; } }

@keyframes snap {
  96% {
    scroll-snap-align: center; }
  97%,
  99% {
    scroll-snap-align: none; }
  100% {
    scroll-snap-align: center; } }

.carousel {
  position: relative;
  aspect-ratio: 16/10;
  padding-bottom: 3em; }
  .carousel ol,
  .carousel li {
    list-style: none;
    margin: 0;
    padding: 0; }
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: hidden;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory; }
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    counter-increment: item;
    overflow: hidden; }
  .carousel__slide__content__image {
    object-fit: cover; }
  .carousel__slide__content__title {
    position: absolute;
    bottom: 0;
    left: 1.45em;
    right: 1.4em;
    padding: 1em;
    background-color: #FFF;
    border-radius: 0.725em; }
    .carousel__slide__content__title a {
      font-size: 1.25em;
      font-weight: bold;
      text-decoration: none;
      color: black;
      transition: color 0.15s ease-in-out; }
      .carousel__slide__content__title a:hover {
        color: #91040d; }
      .carousel__slide__content__title a::after {
        content: "→";
        color: #DB0613;
        padding-left: .5em; }
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    scroll-snap-align: center; }
    .carousel__snapper:hover, .carousel__snapper:focus-within {
      animation-name: none; }
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: calc(1.5rem / -2);
    left: 0;
    text-align: center; }
  .carousel__navigation-list, .carousel__navigation-item {
    display: inline flex;
    gap: 0.5em; }
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #FFF;
    background-clip: content-box;
    border: 2px solid #DB0613;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s; }
  .carousel::before, .carousel::after, .carousel__prev, .carousel__next {
    position: absolute;
    top: 50%;
    margin-top: 0;
    width: 30%;
    height: 100%;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0; }
  .carousel::before, .carousel__prev {
    left: -1rem; }
  .carousel::after, .carousel__next {
    right: -1rem; }
  .carousel::before, .carousel::after {
    content: '';
    z-index: 1;
    background-color: transparent;
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #ffffff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none; }
  .carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='#ffffff'/%3E%3C/svg%3E"); }
  .carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='#ffffff'/%3E%3C/svg%3E"); }
